@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* 
Typography is the way that text is arranged and presented. */

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

/* input, button {
    font: inherit;
} */

/* none can be used with links to remove that default underline. 
p {
    text-decoration: none;
}
*/

p {
    text-align: justify;
    text-indent: 2em;
    text-decoration: line-through;
    text-transform: capitalize;
    line-height: 1.5;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
    font-weight: 900;
    font-style: oblique;
}