@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

/* The order must be same as below otherwise it may not work as intended.Ex: typing hover before visited. */
a {
    text-decoration: none;
    cursor: pointer;
    color: hsl(240, 100%, 50%);
    /* color: blue; */
}

a:visited {
    color: purple;
}

/* focus is helpful if we are not using mouse insted using keyboard or something else. */
a:hover, a:focus {
    color: hsl(200, 100%, 50%,0.8);
    background: gold;
    /* opacity is for transparency 0 for full transparent and 1 for dark. 

    opacity: 0.8;
    */
    /* color: dodgerblue; */
}

a:active {
    color: red;
}